In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import metrics

#import models
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [2]:
df = pd.read_csv('Breast_Cancer.csv')

In [3]:
df.head()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive

In [4]:
df.tail()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

In [6]:
df.describe(include='all')

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
count,4024.000000,4024,4024,4024,4024,4024,4024,4024,4024,4024.000000,4024,4024,4024.000000,4024.000000,4024.000000,4024
unique,NaN,3,5,4,3,5,4,4,2,NaN,2,2,NaN,NaN,NaN,2
top,NaN,White,Married,T2,N1,IIA,Moderately differentiated,2,Regional,NaN,Positive,Positive,NaN,NaN,NaN,Alive
freq,NaN,3413,2643,1786,2732,1305,2351,2351,3932,NaN,3755,3326,NaN,NaN,NaN,3408
mean,53.972167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.473658,NaN,NaN,14.357107,4.158052,71.297962,NaN
std,8.963134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.119696,NaN,NaN,8.099675,5.109331,22.921430,NaN
min,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,1.000000,1.000000,1.000000,NaN
25%,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,NaN,NaN,9.000000,1.000000,56.000000,NaN
50%,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,NaN,NaN,14.000000,2.000000,73.000000,NaN
75%,61.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.000000,NaN,NaN,19.000000,5.000000,90.000000,NaN
max,69.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.000000,NaN,NaN,61.000000,46.000000,107.000000,NaN

In [7]:
df.Status.value_counts()

Alive    3408
Dead      616
Name: Status, dtype: int64

In [8]:
df.columns=df.columns.str.capitalize().str.replace(' ','_')
df.rename(columns={'T_stage_':'T_stage'},inplace=True)
df['Race'] = df['Race'].map({'White':1100, 'Black':1010, 'Other':1001})
df['Marital_status'] = df['Marital_status'].map({'Married':110000, 'Divorced':101000, 'Single ':100100, 'Widowed':100010, 'Separated':100001})
df['T_stage'] = df['T_stage'].map({'T1':11000, 'T2':10100, 'T3':10010, 'T4':10001})
df['N_stage'] = df['N_stage'].map({'N1':1100, 'N2':1010, 'N3':1001})
df['6th_stage'] = df['6th_stage'].map({'IIA':110000, 'IIIA':101000, 'IIIC':100100, 'IIB':100010, 'IIIB':100001})
df['Differentiate'] = df['Differentiate'].map({'Poorly differentiated':11000, 'Moderately differentiated':10100, 'Well differentiated':10010, 'Undifferentiated':10001})
df['Grade'] = df['Grade'].map({'3':1100, '2':1010, '1':1001})
df['A_stage'] = df['A_stage'].map({'Regional':110, 'Distant':101})
df['Estrogen_status'] = df['Estrogen_status'].map({'Positive':110, 'Negative':101})
df['Progesterone_status'] = df['Progesterone_status'].map({'Positive':110, 'Negative':101})
df['Status'] = df['Status'].map({'Alive':1, 'Dead':0})
BCdata = df.dropna()
BCdata

,Age,Race,Marital_status,T_stage,N_stage,6th_stage,Differentiate,Grade,A_stage,Tumor_size,Estrogen_status,Progesterone_status,Regional_node_examined,Reginol_node_positive,Survival_months,Status
0,68,1100,110000,11000,1100,110000,11000,1100.0,110,4,110,110,24,1,60,1
1,50,1100,110000,10100,1010,101000,10100,1010.0,110,35,110,110,14,5,62,1
2,58,1100,101000,10010,1001,100100,10100,1010.0,110,63,110,110,14,7,75,1
3,58,1100,110000,11000,1100,110000,11000,1100.0,110,18,110,110,2,1,84,1
4,47,1100,110000,10100,1100,100010,11000,1100.0,110,41,110,110,3,1,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,1001,110000,11000,1100,110000,10100,1010.0,110,9,110,110,1,1,49,1
4020,56,1100,101000,10100,1010,101000,10100,1010.0,110,46,110,110,14,8,69,1
4021,68,1100,110000,10100,1100,100010,10100,1010.0,110,22,110,101,11,3,69,1
4022,58,1010,101000,10100,1100,100010,10100,1010.0,110,44,110,110,11,1,72,1
4023,46,1100,110000,10100,1100,100010,10100,1010.0,110,30,110,110,7,2,100,1

In [9]:
x = BCdata.drop(['Status'],axis=1)
y = BCdata['Status']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [11]:
#Training model
lr = LinearRegression()
lr.fit(X_train,y_train)
svm = SVR()
svm.fit(X_train,y_train)
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
gr = GradientBoostingRegressor()
gr.fit(X_train,y_train)

GradientBoostingRegressor()

In [12]:
y_pred1 = lr.predict(X_test)
y_pred2 = svm.predict(X_test)
y_pred3 = rf.predict(X_test)
y_pred4 = gr.predict(X_test)

df1 = pd.DataFrame({'Actual':y_test,'Lr':y_pred1,'svm':y_pred2,'rf':y_pred3,'gr':y_pred4})
df1

      Actual        Lr       svm    rf        gr
764        1  1.075142  0.900025  0.98  1.000920
1052       1  1.064374  0.899710  0.99  0.988429
1589       1  0.726282  0.900049  0.96  0.886501
3497       1  0.720741  0.899640  0.90  0.895124
3169       0  0.764714  0.899988  0.83  0.859429
...      ...       ...       ...   ...       ...
2289       1  0.737518  0.900002  0.54  0.821489
624        1  0.855423  0.899703  0.90  0.909796
1684       1  1.069956  0.899705  0.92  0.992446
873        1  0.842992  0.899687  0.75  0.805354
1619       1  0.945621  0.900051  0.98  0.979137

[801 rows x 5 columns]

In [13]:
#Evaluating the Algorithm
score1 = metrics.r2_score(y_test,y_pred1)
score2 = metrics.r2_score(y_test,y_pred2)
score3 = metrics.r2_score(y_test,y_pred3)
score4 = metrics.r2_score(y_test,y_pred4)
print(score1,score2,score3,score4)

0.2944466472668724 -0.030287431310409563 0.38950371993477395 0.42125239056017316

In [14]:
NewData = df.iloc[[30]]
new = NewData.drop(['Status'],axis=1)
NewData

,Age,Race,Marital_status,T_stage,N_stage,6th_stage,Differentiate,Grade,A_stage,Tumor_size,Estrogen_status,Progesterone_status,Regional_node_examined,Reginol_node_positive,Survival_months,Status
30,47,1100,100001,10100,1100,100010,10010,1001.0,110,40,110,110,3,1,52,1

In [15]:
new_pred = gr.predict(new)
if new_pred >= 0.5 :
    status = 0
    print("good prognosis")
else:
    print("bad prognosis")
print("patient status is : ", new_pred[0])

good prognosis
patient status is :  0.9031094733429303